# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Docker
*.pid

# build artifacts
dist/
build/